/* CSS Code */
#miniccookie{

}
#miniccookie .miniccookie-inner{
	margin: 0 auto 0 auto;
	padding: 2em 0;
	max-width: 60%;
	text-align: right;
}
#miniccookie p{
	text-align: left;
}
#miniccookie .miniccookie-buttons{
	font-size: 100%;
	padding: .5em 1.5em;
	color: #444;
	color: rgba(0,0,0,.8);
	border: 1px solid #999;
	border: 0 rgba(0,0,0,0);
	background-color: #E6E6E6;
	text-decoration: none;
	border-radius: 2px;
	-webkit-transition: .1s linear -webkit-box-shadow;
	-moz-transition: .1s linear -moz-box-shadow;
	-ms-transition: .1s linear box-shadow;
	-o-transition: .1s linear box-shadow;
	transition: .1s linear box-shadow;

	display: inline-block;
	zoom: 1;
	line-height: normal;
	white-space: nowrap;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#miniccookie .miniccookie-buttons:hover, 
#miniccookie .miniccookie-buttons:focus {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
	background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
	background-image: -moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
	background-image: -ms-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
	background-image: -o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
	background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}